.navbar-lewagon {
  justify-content: space-between;
  background: rgb(247, 247, 247);
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.logo {
  width: 100px;
  height: auto;
}
